{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}New Project{% endblock %}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<div class="container">
  <div class="row">
      {% include 'partials/_header.html' %}
      {% include 'partials/_navbar.html' %}
      <div class="col-12">
        {% block content %}
        {% endblock %}
      </div>
  </div>
    {% include 'partials/_footer.html' %}
 </div>
 <script src="{% static "js/script.js" %}"></script>
</body>